table{
    border: 1px dotted black;
    border-collapse: collapse;
    width: 800px;
    background-color: yellow;
}
.title{
    color: red;
}
.content{
    border: 1px dotted black;
    border-collapse: collapse;
}
.content td{
    border: 1px dotted black;
    border-collapse: collapse;
}
.text{
    border-bottom: 3px dotted red;
}